body{
    font-family: 'Montserrat-Light', sans-serif;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    
    
}

.container-fluid{
    padding: 3% 15% 10%;
}


/*image*/
.mobile{
    width: 17%;
    position: absolute;
    right: 22%;
   
    transform: rotate(20deg);
    -ms-transform:rotate(20deg); /* IE 9 */
    -webkit-transform:rotate(20deg); /* Opera, Chrome, and Safari */
}

@media (max-width:1160px) {
    .mobile{
        width: 60%;
        position: static;
        right: 22%;
        transform: rotate(0deg);
        -ms-transform:rotate(0deg); /* IE 9 */
        -webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */
    }
    #title{
        text-align: center;
    }
}

/*Nav bar */
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{

    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light",sans-serif;
}


/*Buttons*/

.download-button{
    margin: 5% 3% 5% 0;
}



/*Features*/
#features{
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    padding: 5% 0;
    position: relative;
    
   
}

#features h3{
    font-size: 1.5rem;
    font-weight: bold;
}

#features p{
    font-size: 1.1rem;
    color: #8f8f8f;
    font-family: "Montserrat-Light", sans-serif;
}

.feature-icon{
    margin-bottom: 1rem;
    color: #ff4c68;
    /*filter: invert(39%) sepia(56%) saturate(2822%) hue-rotate(326deg) brightness(109%) contrast(101%);*/
}

.feature-icon:hover{
    filter: invert(21%) sepia(81%) saturate(4614%) hue-rotate(351deg) brightness(95%) contrast(95%);
}

.center-contain{
    text-align: center;
    padding: 0 5%;
}



/*Testimonial Section*/
#testimonials{
    background-color: #ef8172;

    text-align: center;
    color:#fff;
}

#testimonials h2{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    padding-bottom: 3%;
    background-color: #ef8172;
    text-align: center;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 5% 7%;
}


/*price*/

.btn-size{
    width: 100%;
}

#pricing{
    padding: 5% 7%;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

#pricing h2{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

#pricing h3{
    font-size: 1.5rem;
    font-weight: bold;
}

#pricing p{
    font-size: 1.1rem;
    color: #8f8f8f;
    font-family: "Montserrat-Light", sans-serif;
}


/*Cita*/

#cta{
    background-color: #ff4c68;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #fff;
    line-height: 1.5;
    padding: 5% 7%;
}

#cta h3{
    font-size: 3.5rem;
    font-weight: bold;
    
}


/*copy*/
#footer{
    background-color: #fff;
    padding: 7% 7%;
    text-align: center;
  
    font-family: "Montserrat-ligth", sans-serif;
}

#footer p{
    color: #ccc;
    font-weight: bold;
}
#footer i{
    padding: 0.7%;
}